#!/bin/sh

bitcoind \
  -daemon \
  -pid=/home/{{ deployer_user.name }}/tmp/bitcoind.pid \
  {{ btc_net }} \
  -txindex=1 \
  -datadir={{ btc_data }} \
  -zmqpubhashblock=tcp://{{ zmq_addr }}:{{ zmq_port }} \
  -zmqpubhashtx=tcp://{{ zmq_addr }}:{{ zmq_port }} \
  -zmqpubrawblock=tcp://{{ zmq_addr }}:{{ zmq_port }} \
  -zmqpubrawtx=tcp://{{ zmq_addr }}:{{ zmq_port }}
