check process bitcoind
    with pidfile "{{ btc_data }}/bitcoind.pid"
    start program = "/etc/init.d/bitcoind start"
    stop program = "/etc/init.d/bitcoind stop"
    if failed port 8332 for 2 cycles then restart
    if 5 restarts within 5 cycles then timeout
